<div class="header">
    <div class="header-cover">


        <div class="header-section-1">
            <div class="logo_BXH">
                <img src="../../../assets/icon&logo/logo_BHX.webp" alt="" srcset="">
            </div>

            <div class="search-Box">
                tim kiem
            </div>

            <div class="dropdonwPosition">
                tim kiem vi tri gan ban
            </div>
        </div>

        <div class="header-section-2">
            <div class="labelPro">

                <span>Danh mục sản phẩm</span>
            </div>

            <div class="labelPro">

                <span>Đăng nhập</span>
            </div>
        </div>
    </div>
</div>